footer
{
    text-align: justify;
    color:white;
    font-family: 'Raleway';
    background-image: linear-gradient(to bottom, #2c0081, #400052, #37002e, #240016, #000000);
    width: 100%;
    margin:0;
}
.footer-contact h3,
.footer-projects h3
{
    font-size: 1.7em;
    margin:0 10px;
    padding: 15px 0;
}
.footer-contact ul, .footer-projects ul { list-style: none; }
.footer-contact ul li, .footer-projects ul li{ font-size: 1.4em }
.footer-contact ul li a, .footer-projects ul li a{ text-decoration: underline; color:white; }
.footer-copyright
{
    width: 100%;
    background: black;
    padding:1px 0;
}
@media (min-width: 768px)
{
    footer
    {
        text-align: center;
    }
}